* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-tag {
  flex-grow: 1;
}

.center {
  width: 350px;
  height: 450px;
  box-shadow: -5px 5px 10px 0px rgba(155, 153, 153, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  backdrop-filter: blur(8px);
}

h1 {
  margin-top: 30px;
  width: 50%;
}

input {
  width: 80%;
  height: 14%;
  background: none;
  color: white;
  margin-top: 10px;
  border: none;
  border-bottom: solid 1px black;
  font-size: 15px;
  padding-left: 10px;
  outline: none;
}

input::placeholder {
  color: white;
}

.submit-button {
  width: 120px;
  height: 35px;
  margin-top: 10px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  background-color: #ff0000;
}

.login-with {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  margin-top: 10px;
  width: 130px;
  height: 35px;
  margin-top: 10px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.fb {
  background-color: #ff0808;
  color: white;
}

.ggl {
  background-color: #e11b09;
  color: white;
}

/* Responsive design for mobile */

@media (max-width: 800px) {
  .center {
    width: 350px;
    height: 450px;
  }
}
